.card-notes{
    @apply
    w-full
}
.addnote{
    @apply
    m-[30px]
    w-[250px]
    h-[300px]
    rounded-xl
    shadow-xl 
    border-[3px]
    border-dashed
    border-gray-500
    shadow-gray-800/50
    flex
    justify-center
    items-center
    cursor-pointer
    hover:border-gray-300
    hover:dark:border-gray-950
    transition-all
}
.addnote h2{
    @apply
    font-BrandFont
    font-bold
    text-[24px]
    text-gray-300
    dark:text-gray-800
    flex gap-3
    items-center
}
.pin-head{
    @apply
    w-full
    mt-[30px]
    border-b-2
    border-white
    dark:border-gray-900
    border-dashed
}
.pin-head h2{
    @apply
    font-BrandFont
    pl-[30px]
    text-[30px]
    text-white
    dark:text-gray-900
    font-semibold
    pb-[20px]
}
.all-head{
    @apply
    w-full
    mt-[30px]
    border-b-2
    border-white
    dark:border-gray-900
    border-dashed
}
.all-head h2{
    @apply
    font-BrandFont
    pl-[30px]
    text-[30px]
    text-white
    dark:text-gray-900
    font-semibold
    pb-[20px]
}
.trash-head{
    @apply
    w-full
    mt-[30px]
    border-b-2
    border-white
    dark:border-gray-900
    border-dashed
}
.trash-head h2{
    @apply
    font-BrandFont
    pl-[30px]
    text-[30px]
    text-white
    dark:text-gray-900
    font-semibold
    pb-[20px]
}